<section
  class="d-flex align-items-center justify-content-center"
  id="technologies"
>
  <div class="container container-technologies d-flex justify-content-start">
    <div
      class="header-section d-flex flex-column"
      data-aos="fade-in"
      data-aos-duration="1500"
    >
      <h6>TECNOLOGIAS</h6>
      <h2>Domínios de Competência Técnica</h2>
      <h5>
        Ferramentas para lhe oferecer um serviço de qualidade
        <img
          src="../assets/images/emoji-books.png"
          style="width: 24px; margin: 0 0 5px 5px !important"
        />
      </h5>
    </div>

    <div class="card-area">
      <app-technologie-card
        [icon]="faAngular"
        title="Angular"
        text="Framework para criar aplicações web dinâmicas e escaláveis."
        avaliation="4"
        data-aos="fade-up"
        data-aos-easing="ease-in-back"
        data-aos-delay="100"
      ></app-technologie-card>
      <app-technologie-card
        [icon]="faHtml"
        title="HTML"
        text="Linguagem de marcação para estruturar conteúdo e criar páginas da web."
        avaliation="5"
        data-aos="fade-up"
        data-aos-easing="ease-in-back"
        data-aos-delay="200"
      ></app-technologie-card>
      <app-technologie-card
        [icon]="faCss"
        title="CSS"
        text="Estilos visuais usados para formatar layout, cores e tipografia."
        avaliation="5"
        data-aos="fade-up"
        data-aos-easing="ease-in-back"
        data-aos-delay="300"
      ></app-technologie-card>
      <app-technologie-card
        [icon]="faSass"
        title="SCSS"
        text="Pré-processador para estilos com variáveis, aninhamento, e funções."
        avaliation="4"
        data-aos="fade-up"
        data-aos-easing="ease-in-back"
        data-aos-delay="400"
      ></app-technologie-card>
      <app-technologie-card
        [icon]="faSquareJs"
        title="JavaScript"
        text="Linguagem para criar interatividade e lógica em páginas web."
        avaliation="4"
        data-aos="fade-up"
        data-aos-easing="ease-in-back"
        data-aos-delay="500"
      ></app-technologie-card>
      <app-technologie-card
        [icon]="faBootstrap"
        title="Bootstrap"
        text="Framework para criar layouts responsivos e componentes."
        avaliation="4"
        data-aos="fade-up"
        data-aos-easing="ease-in-back"
        data-aos-delay="600"
      ></app-technologie-card>
      <app-technologie-card
        [icon]="faGitAlt"
        title="GitHub"
        text="Plataforma para versionamento de código e colaboração."
        avaliation="5"
        data-aos="fade-up"
        data-aos-easing="ease-in-back"
        data-aos-delay="700"
      ></app-technologie-card>
      <app-technologie-card
        [icon]="faFigma"
        title="Figma"
        text="Ferramenta de design para criar interfaces e protótipos colaborativos."
        avaliation="5"
        data-aos="fade-up"
        data-aos-easing="ease-in-back"
        data-aos-delay="800"
      ></app-technologie-card>
    </div>
  </div>
</section>
