<section
  class="d-flex align-items-center justify-content-center background-white"
  id="technologies"
>
  <div
    class="container container-technologies d-flex justify-content-start align-items-start flex-column"
  >
    <div class="header-section" data-aos="fade-in" data-aos-duration="1400">
      <div class="tag">
        <h6>SKILLS</h6>
      </div>
      <h2>Habilidades & <span>Recursos</span></h2>
      <h5>
        Desenvolvo soluções inovadoras combinando frameworks e ferramentas de
        ponta.
      </h5>
    </div>
    <div class="card-area" data-aos="fade-up" data-aos-easing="ease-in-back">
      <app-technologie-card
        *ngFor="let specialization of specializations; let i = index"
        [icon]="specialization.icon"
        [title]="specialization.title"
        [description]="specialization.description"
        [knowledgeLevel]="specialization.knowledgeLevel"
      ></app-technologie-card>
    </div>
  </div>
</section>
