.container-technologies {
  flex-direction: column;
}

.card-area {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
}

.card-area app-technologie-card {
  flex: 1 1 calc(25% - 30px);
}

.option-card {
  width: 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  border-bottom: 1px solid var(--border-color);
}

.card-animation.visible {
  opacity: 1;
  transform: translateY(0);
}
