.container-menu {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  padding: 60px 0;
}

.copy {
  padding: 40px 0;

  p {
    color: var(--text-color);
  }
}

img {
  margin-bottom: 15px;
}

p {
  margin-bottom: 24px;
}

nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.itens-menu ul {
  display: flex;
  flex-direction: column;
  gap: 14px !important;
  list-style-type: none;
  color: var(--text-color);
}

@media (max-width: 1200px) {
  .container-menu {
    flex-direction: column;
  }

  .itens-menu ul {
    padding: 0 !important;
    margin-top: 35px;
  }

  .container {
    margin-top: 30px !important;
  }
}
