#footer {
  height: auto !important;
  min-height: unset !important;
  padding-bottom: 40px !important;
  padding-top: 70px !important;
}

.content-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  padding: 50px 0;
}

.container-menu {
  box-sizing: border-box;
  padding: 60px 0;
}

.copy {
  padding: 40px 0 0 0;

  p {
    color: var(--title-color);
    margin: 0 !important;
  }
}

img {
  margin-bottom: 15px;
}

p {
  margin-bottom: 24px;
}

.quote {
  font-size: 20px;
  color: var(--title-color);
  margin-bottom: 2px;
}

.itens-menu h5 {
  font-size: 18px !important;
  font-style: italic;
  margin: 0;
}

.itens-menu p {
  font-size: 14px;
  color: var(--text-color);
}

nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.itens-menu ul {
  display: flex;
  flex-direction: column;
  gap: 14px !important;
  list-style-type: none;
  color: var(--title-color);
}

.nav-item,
.text-footer {
  font-size: 14px !important;
}

@media (max-width: 1200px) {
  .content-footer {
    flex-direction: column;
  }

  .itens-menu ul {
    padding: 0 !important;
    margin-top: 35px;
  }

  .container {
    margin-top: 30px !important;
  }

  .quote {
    margin-top: 20px;
  }

  .copy {
    padding-bottom: 60px !important;
  }
}
