<footer>
  <div
    class="container container-menu d-flex align-itens-center justify-content-between"
  >
    <div class="">
      <img
        src="../../../assets/images/logo-gustavo.png"
        alt=""
        style="width: 100px"
      />
      <p>
        Lorem Ipsum is simply dummy text of <br />
        the printing and typesetting industry <br />
        the printing and typesetting industry.
      </p>
      <nav>
        <ul class="socials">
          <app-social-card
            [icon]="faLinkedin"
            link="https://www.linkedin.com/in/gustavo-henrique-885918199/"
          ></app-social-card>
          <app-social-card
            [icon]="faGithub"
            link="https://github.com/gustavo-henrique1"
          ></app-social-card>
          <app-social-card
            [icon]="faBehance"
            link="https://www.behance.net/gustavohenrique63"
          ></app-social-card>
          <app-social-card [icon]="faFigma"></app-social-card>
        </ul>
      </nav>
    </div>
    <div class="itens-menu">
      <ul>
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Experiência</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#technologies">Conhecimento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfólio</a>
        </li>
      </ul>
    </div>
    <div class="itens-menu">
      <ul>
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Experiência</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#technologies">Conhecimento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfólio</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copy">
    <div class="container d-flex align-itens-center justify-content-center">
      <p>© 2025 copyright - Gustavo Henrique</p>
    </div>
  </div>
</footer>
