<footer>
  <div
    class="container container-menu d-flex align-itens-center justify-content-between"
  >
    <div class="">
      <h4>Gustavo</h4>
      <p>
        Lorem Ipsum is simply dummy text of <br />
        the printing and typesetting industry.
      </p>

      <nav>
        <ul class="socials">
          <app-social-card
            [icon]="faLinkedin"
            link="https://www.linkedin.com/in/gustavo-henrique-885918199/"
          ></app-social-card>
          <app-social-card
            [icon]="faGithub"
            link="https://github.com/gustavo-henrique1"
          ></app-social-card>
          <app-social-card
            [icon]="faBehance"
            link="https://www.behance.net/gustavohenrique63"
          ></app-social-card>
          <app-social-card [icon]="faFigma"></app-social-card>
        </ul>
      </nav>
    </div>
    <div class="">b</div>
    <div class="">b</div>
  </div>
  <div class="copy">
    <div class="container d-flex align-itens-center justify-content-center">
      <p>© 2024 copyright - Gustavo Henrique</p>
    </div>
  </div>
</footer>
