.container-technologies {
  flex-direction: column;
}

.card-area {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-section {
  width: 100%;
  margin-bottom: 30px !important;
  align-items: center;
  justify-content: center;

  h5 {
    width: fit-content;
  }
}

.tag {
  background: var(--background-white-color);
}

@media (max-width: 600px) {
  .card-area app-technologie-card {
    width: 100% !important;

    .card {
      width: max-content !important;
    }
  }
}
