#tecnologies {
  height: auto !important;
  min-height: 100vh !important;
}

.container-technologies {
  flex-direction: column;
}

.card-area {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header-section {
  width: 100%;

  h5 {
    width: fit-content;
  }
}

.tag {
  background: var(--background-gray-color);
}

@media (max-width: 620px) {
  .card-area app-technologie-card {
    width: 100% !important;

    .card {
      width: max-content !important;
    }
  }
}
