<section
  class="d-flex align-items-center justify-content-center"
  id="experience"
>
  <div
    class="container container-technologies d-flex justify-content-start align-items-start flex-column"
  >
    <div class="header-section" data-aos="fade-in" data-aos-duration="1400">
      <div class="tag background-gray">
        <h6>EXPERIÊNCIA</h6>
      </div>
      <h2>Trajetória <span>Profissional</span></h2>
      <h5>Como adquiri minhas habilidades e conhecimentos</h5>
    </div>

    <div
      class="container-experience"
      data-aos="fade-in"
      data-aos-duration="1400"
    >
      <div class="column">
        <h6>Experiência</h6>
        <div class="column-experience">
          <div class="line-area">
            <div class="line"></div>
            <span class="material-symbols-rounded"> circle </span>
            <span class="material-symbols-rounded"> circle </span>
          </div>
          <div class="experience-area">
            <div class="card-experience" data-aos="zoom-in-down">
              <div class="header-experience">
                <div class="title-card">
                  <span>Desenvolvedor</span> Front-end Jr
                </div>
                ALPE • 2021 - 2023
              </div>
              <div class="content-experience">
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    data_object
                  </span>
                  Desenvolvimento com Angular e Typescript.
                </p>

                <p>
                  <span class="material-symbols-rounded emoji-p"> api </span>
                  Integração com API REST.
                </p>
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    bug_report
                  </span>
                  Correções de bugs funcionais.
                </p>
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    add_box
                  </span>
                  Desenvolvimento de novas features.
                </p>
              </div>
            </div>
            <div class="card-experience" data-aos="zoom-in-down">
              <div class="header-experience">
                <div class="title-card">
                  <span>Estagiário</span> Design UI/UX
                </div>
                ALPE • 2020 - 2021
              </div>
              <div class="content-experience">
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    assignment
                  </span>
                  Entrevista com os clientes.
                </p>
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    brightness_alert
                  </span>
                  Mapeamento de dores e necessidades.
                </p>
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    bar_chart
                  </span>
                  Entendimento de mercado.
                </p>
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    computer_arrow_up
                  </span>
                  Prototipação e validação de idéias.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <h6>Educação</h6>
        <div class="column-experience" data-aos="zoom-in-down">
          <div class="line-area">
            <div class="line"></div>
            <span class="material-symbols-rounded"> circle </span>
            <span class="material-symbols-rounded"> circle </span>
          </div>
          <div class="experience-area">
            <div class="card-experience">
              <div class="header-experience">
                <div class="title-card">
                  <span>Liderança e Gestão</span> em Tecnologia
                </div>
                Pós-graduação
              </div>
              <div class="content-experience">
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    emoji_objects
                  </span>
                  Inovação alinhada a tecnologia.
                </p>
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    Cognition
                  </span>
                  Planejamento estratégico de negócio.
                </p>
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    avg_time
                  </span>
                  Governança de TI e gestão de riscos.
                </p>
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    next_week
                  </span>
                  Gestão de projetos ágeis.
                </p>
              </div>
            </div>
            <div class="card-experience" data-aos="zoom-in-down">
              <div class="header-experience">
                <div class="title-card">
                  <span>Análise e Desenvolvimento</span> de Sistemas
                </div>
                Graduação
              </div>
              <div class="content-experience">
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    flowchart
                  </span>
                  Fundamentos e lógica de programação.
                </p>
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    dataset
                  </span>
                  Modelagem e análise de sistemas.
                </p>
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    manage_search
                  </span>
                  Direcionamentos sobre UI/UX.
                </p>
                <p>
                  <span class="material-symbols-rounded emoji-p">
                    smart_toy
                  </span>
                  Análise e utomação de processos.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
