<section
  class="d-flex align-items-center justify-content-center"
  id="experience"
>
  <div
    class="container container-technologies d-flex justify-content-start align-items-start flex-column"
  >
    <div class="header-section" data-aos="fade-in" data-aos-duration="1400">
      <div class="tag">
        <h6>EXPERIÊNCIA</h6>
      </div>
      <div class="line-and-title">
        <h2>Trajetória profissional</h2>
        <div class="line-title"></div>
      </div>
      <h5>Como adquiri minhas habilidades e conhecimentos</h5>
    </div>

    <div
      class="experience-area d-flex"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div class="option-card">
        <p class="sub-menu-text">Profissional</p>
        <div
          class="option d-flex align-items-center justify-content-between"
          [class.active-option]="0 === activeIndex"
          (click)="showContent(0)"
        >
          <div
            class="d-flex align-items-center justify-content-center icon-text"
          >
            <span class="material-symbols-rounded">{{ optionOne.icon }}</span>
            <p>{{ optionOne.text }}</p>
          </div>
          <span class="material-symbols-rounded icon-arrow">chevron_right</span>
        </div>
        <p class="sub-menu-text">Educação</p>
        <div
          *ngFor="let option of options; let i = index"
          class="option d-flex align-items-center justify-content-between"
          [class.active-option]="option.id === activeIndex"
          (click)="showContent(option.id)"
        >
          <div
            class="d-flex align-items-center justify-content-center icon-text"
          >
            <span class="material-symbols-rounded">{{ option.icon }}</span>
            <p>{{ option.text }}</p>
          </div>
          <span class="material-symbols-rounded icon-arrow">chevron_right</span>
        </div>
      </div>

      <div class="box-experience">
        <div *ngFor="let card of experiences; let i = index">
          <app-card-experience
            [imageUrl]="card.imageUrl"
            [title]="card.title"
            [subtitle]="card.subtitle"
            [timing]="card.timing"
            [local]="card.local"
            [text]="card.text"
          ></app-card-experience>
          <div *ngIf="i == 0" class="divider"></div>
        </div>
      </div>
      <div class="box-experience">
        <div *ngFor="let card of superior; let i = index">
          <app-card-experience
            [imageUrl]="card.imageUrl"
            [title]="card.title"
            [subtitle]="card.subtitle"
            [timing]="card.timing"
            [local]="card.local"
            [text]="card.text"
          ></app-card-experience>
          <div *ngIf="i == 0" class="divider"></div>
        </div>
      </div>
      <div class="box-experience">
        <div *ngFor="let card of tecnic; let i = index">
          <app-card-experience
            [imageUrl]="card.imageUrl"
            [title]="card.title"
            [subtitle]="card.subtitle"
            [timing]="card.timing"
            [local]="card.local"
            [text]="card.text"
          ></app-card-experience>
          <div *ngIf="i == 0" class="divider"></div>
        </div>
      </div>
      <div
        class="box-experience box-experience-scroll"
        (scroll)="onScroll($event)"
      >
        <div class="arrow-bottom" *ngIf="arrowVisible">
          <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>
        <div *ngFor="let card of certifications; let i = index">
          <app-card-experience
            [imageUrl]="card.imageUrl"
            [title]="card.title"
            [subtitle]="card.subtitle"
            [timing]="card.timing"
            [local]="card.local"
            [text]="card.text"
          ></app-card-experience>
          <div *ngIf="i != 2" class="divider"></div>
        </div>
      </div>
    </div>
  </div>
</section>
