<section
  class="d-flex align-items-center justify-content-center"
  id="experience"
>
  <div
    class="container container-technologies d-flex justify-content-start align-items-start flex-column"
  >
    <div class="header-section" data-aos="fade-in" data-aos-duration="1400">
      <h6>EXPERIÊNCIA</h6>
      <h2>Trajetória profissional</h2>
      <h5>
        Como adquiri minhas habilidades e conhecimentos
        <img
          src="../assets/images/emoji-shirt.png"
          style="width: 22px; margin: 0 0 5px 4px !important"
        />
      </h5>
    </div>

    <div
      class="experience-area d-flex"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div class="option-card">
        <div
          id="front-end-option"
          class="option active-option option-one"
          (click)="showContent('front')"
        >
          Front-end
        </div>
        <div
          id="ui-ux-option"
          class="option option-two"
          (click)="showContent('ux')"
        >
          UI/UX
        </div>
      </div>
      <div class="experience-text">
        <div
          class="experience d-flex align-items-center justify-content-between d-none"
          id="experience-front"
        >
          <div class="text-experience">
            <h2>Desenvolvedor front-end Junior</h2>

            <h5>
              Set 2021 - Nov 2023 (2 Anos
              <img
                src="../assets/images/emoji-time.png"
                style="width: 25px; margin-bottom: 5px !important"
              />)
            </h5>
            <h3>Alpe</h3>
            <p>
              Comecei a implementar fluxos mais complexos e completos nos
              projetos, e então passei a me envolver mais nas regras de negócios
              tomando conta do portal da empresa junto ao site institucional
              para implementar novas funcionalidades e trabalhando em
              manutenções para manter o funcionamento correto, recebi mais
              responsabilidades como por exemplo, auxiliar no desenvolvimento
              técnico e profissionaal de novos estagiários.
            </p>
          </div>
          <img
            src="../../../assets/images/home-image.png"
            class="img-experience"
            data-aos="zoom-in"
          />
        </div>

        <div
          class="experience d-flex align-items-center justify-content-between d-none"
          id="experience-ux"
        >
          <div class="text-experience">
            <h2>Estagiário UI/UX</h2>
            <h5>
              Set 2020 - Set 2021 (1 Ano
              <img
                src="../assets/images/emoji-time.png"
                style="width: 25px; margin-bottom: 5px !important"
              />)
            </h5>
            <h3>Alpe</h3>
            <p>
              Meu primeiro contato com um produto no mundo corporativo, em um
              time que apoiava todas squads na ideação de novos projetos, minha
              primeira tarefa foi ligar para os clientes aplicando uma
              entrevista para analisar e mapear suas dores, criando algo que de
              fato supria suas necessidades. Ainda como estagiário, tive contato
              também com o desenvolvimento web Angular nos projetos que
              posteriormente seriam minha responsabilidade.
            </p>
          </div>
          <img
            src="../../../assets/images/home-image.png"
            class="img-experience"
            data-aos="zoom-in"
          />
        </div>
      </div>
    </div>
  </div>
</section>
