.option-card {
  width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.sub-menu-text {
  margin: 0 0 10px 0 !important;
  color: var(--text-color);
}

.sub-menu-text:nth-of-type(2) {
  margin: 25px 0 10px 0 !important;
}

.option {
  width: 100%;
  min-width: 240px !important;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 15px !important;
  cursor: pointer;
  transition: 0.5s;
  background: var(--background-color);
  border: 1px solid var(--background-color);

  .icon-text {
    gap: 12px;

    p {
      font-size: 16px;
      font-weight: 500;
      color: var(--title-color);
      margin: 0;
      transition: 0.3s;
    }

    span {
      color: var(--title-color);
    }
  }

  .icon-arrow {
    color: var(--title-color);
    opacity: 0;
    padding-right: 10px;
    transition: 0.3s;
  }
}

.active-option {
  background: var(--background-card);
  border: 1px solid var(--border-color);

  .icon-arrow {
    opacity: 1;
    padding-right: 0px;
  }
}

.option:hover {
  .icon-text {
    p {
      color: var(--primary-color);
    }
    span {
      color: var(--primary-color);
    }
  }
}

.active-option:hover {
  .icon-text {
    p {
      color: var(--text-color);
    }
    span {
      color: var(--text-color);
    }
  }
}

.experience-area {
  gap: 35px;
  width: 100%;
  display: flex;
  flex-direction: row !important;
}

.box-experience {
  border-left: 1px solid var(--border-color);
  display: none;
}

.show-experience {
  display: block;
}

.divider {
  height: 1px;
  background: var(--border-color);
  margin: 35px 0 35px 35px;
}

.experience {
  display: none;
}

.experience-visible {
  display: flex !important;
}

.experience h2 {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 600;
}

.experience h5 {
  margin: 15px 0 !important;
}

.experience h3 {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 500;
  margin: 25px 0 !important;
}

@media (max-width: 1200px) {
  .experience-area {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .box-experience {
    border: 0 !important;
  }

  .experience-information {
    padding: 0;
  }

  .option-card {
    width: 100%;
  }

  .experience {
    width: 100% !important;
    flex-direction: column;
    align-items: flex-start !important;
  }

  .text-experience {
    width: 100%;
    margin-bottom: 50px !important;
  }

  .experience .d-flex {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 30px;
  }

  .img-experience {
    width: 400px;
  }
}

@media (max-width: 740px) {
  .information {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 20px;
  }
}
