canvas {
  width: 530px !important;
  height: 600px !important;
  height: auto;
  display: block;
  outline: none;
}

@media (max-width: 1200px) {
  canvas {
    width: 500px !important;
    height: 570px !important;
  }
}

@media (max-width: 800px) {
  canvas {
    width: 330px !important;
    height: 400px !important;
  }
}
