.experience-information {
  flex-grow: 1 !important;
  max-width: 900px;
  box-sizing: border-box;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  gap: 25px !important;

  p {
    margin: 0;
  }
}

.information {
  flex-grow: 1;
  min-width: 810px;

  p {
    font-weight: 600;
    color: var(--title-color);
    margin: 0;
  }

  span {
    font-size: 14px;
    color: var(--subtitle-color);
  }
}

.icon {
  font-size: 18px !important;
}

.header {
  display: flex;
  gap: 20px;
}

.photo {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border-color);
  background: var(--background-card);
  border-radius: 6px;

  img {
    width: 26px;
  }

  .image-udemy {
    width: 18px;
  }
}

.timing-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.timing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.p-certfication {
  margin: 10px 0 !important;
  color: var(--subtitle-color);

  span {
    color: var(--title-color);
    font-weight: 500;
  }
}
