<section class="d-flex align-items-center justify-content-center" id="about">
  <div
    class="container container-about d-flex align-items-center justify-content-between"
  >
    <div class="text-area" data-aos="zoom-in-right">
      <div class="header-section">
        <div class="tag background-gray">
          <h6>SOBRE</h6>
        </div>
        <h2>Desenvolvedor <span>front-end</span></h2>
        <h5>Residente de São Paulo - Brasil</h5>
      </div>

      <p class="p-top">
        Focado no desenvolvimento juntamente com integração de API's REST,
        atendendo as regras de negócio das tarefas realizadas. Desenvolvo
        interfaces modernas de alta qualidade, concentrado em performance e
        responsividade. Busco aplicar as melhores práticas para garantir
        escalabilidade e facilidade de manutenção do código.
      </p>
      <p>
        <span class="material-symbols-rounded emoji-p"> developer_mode </span>
        Desenvolvimento web Angular desde 2020.
      </p>
      <p>
        <span class="material-symbols-rounded emoji-p"> school </span>
        Graduado em análise e desenvolvimento de sistemas.
      </p>
      <p>
        <span class="material-symbols-rounded emoji-p"> code_blocks </span>
        Interesse em desenvolvimento front-end.
      </p>
      <p>
        <span class="material-symbols-rounded emoji-p"> rocket_launch </span>
        Buscando uma oportunidade para atuar.
      </p>
    </div>
    <div class="image-area">
      <app-about-skills></app-about-skills>
    </div>
  </div>
</section>
