<section class="d-flex align-items-center justify-content-center" id="about">
  <div
    class="container container-about d-flex align-items-center justify-content-between"
  >
    <div class="text-area" data-aos="zoom-in-right">
      <div class="header-section">
        <h6>SOBRE</h6>
        <h2>Desenvolvedor front-end</h2>
        <h5>Residente de São Paulo - Brasil</h5>
      </div>

      <p class="p-top">
        Focado no desenvolvimento de novas features juntamente com integração de
        API's REST, atendendo as regras de negócio e contexto das tarefas
        realizadas. Desenvolvo interfaces modernas e de alta qualidade,
        concentrado em performance, animações, e responsividade.
      </p>
      <p>
        <span class="material-symbols-rounded emoji-p"> developer_mode </span>
        Desenvolvimento web Angular desde 2020.
      </p>
      <p>
        <span class="material-symbols-rounded emoji-p"> school </span>
        Formado em análise e desenvolvimento de sistemas.
      </p>
      <p>
        <span class="material-symbols-rounded emoji-p"> code_blocks </span>
        Interesse em desenvolvimento front-end.
      </p>
      <p>
        <span class="material-symbols-rounded emoji-p"> rocket_launch </span>
        Buscando uma oportunidade para atuar.
      </p>
    </div>
    <div class="image-area" data-aos="zoom-in-left">
      <div class="skills-area">
        <h5>Skills</h5>
        <div class="skills">
          <app-technologie-card
            *ngFor="let card of cards; let i = index"
            [icon]="card.icon"
            [title]="card.title"
            [id]="'card' + i"
          ></app-technologie-card>
        </div>
      </div>
    </div>
  </div>
</section>
