<section class="d-flex align-items-center justify-content-center" id="about">
  <div
    class="container container-about d-flex align-items-center justify-content-between"
  >
    <div
      class="image-area d-flex align-items-center justify-content-center"
      data-aos="zoom-in-right"
    >
      <img src="../assets/images/home.png" />
    </div>
    <div class="text-area" data-aos="zoom-in-left">
      <div class="header-section">
        <h6>SOBRE</h6>
        <h2>Desenvolvedor front-end</h2>
        <h5>
          Residente de São Paulo - Brasil
          <img src="../assets/images/emoji-pin.png" class="emoji-p" />
        </h5>
      </div>

      <p class="p-top">
        Focado no desenvolvimento de novas features juntamente com integração de
        API's REST, atendendo as regras de negócio e contexto das tarefas
        realizadas. Desenvolvo interfaces modernas e de alta qualidade,
        concentrado em performance, animações, e responsividade.
      </p>
      <p>
        <img src="../assets/images/emoji-dev.png" class="emoji-p" />
        Desenvolvimento web Angular desde 2020.
      </p>
      <p>
        <img src="../assets/images/emoji-studant.png" class="emoji-p" />
        Formado em análise e desenvolvimento de sistemas.
      </p>

      <p>
        <img src="../assets/images/emoji-bulb.png" class="emoji-p" />
        Interesse em desenvolvimento front-end.
      </p>
      <p>
        <img src="../assets/images/emoji-rocket.png" class="emoji-p" />
        Buscando uma oportunidade para atuar.
      </p>
    </div>
  </div>
</section>
