.container-about {
  align-items: flex-start !important;
}

.header-section {
  margin-bottom: 35px;
}

.p-top {
  margin: 0 0 28px 0;
}

p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.emoji-p {
  color: var(--title-color);
}

.text-area {
  width: 65%;
}

.image-area {
  width: 32%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 30px;
  border-right: 1px solid var(--border-color);
}

.image-area h5 {
  font-weight: 500;
  color: var(--title-color);
  font-size: 18px;
}

.card-skill-area {
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-y: hidden;
  padding-right: 40px;
}

.card-skill-area:hover {
  overflow-y: scroll;
}

.card-skill-area::-webkit-scrollbar {
  width: 2px !important;
}

.card-skill-area::-webkit-scrollbar-thumb {
  background-color: var(--subtitle-color);
}

.card-skill-area::-webkit-scrollbar-track {
  background: var(--background-color);
}

.card-skill {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-skill h3 {
  font-size: 16px;
  color: var(--title-color);
  font-weight: normal;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.card-skill h3 fa-icon {
  font-size: 18px;
}

.progress {
  height: 6px;
}

.progress-bar {
  background: var(--primary-color);
}

.card-skill p {
  font-size: 14px;
  color: var(--title-color);
  margin: 0;
  line-height: 1.4rem;
}
