<div class="card d-flex position-relative star-card">
  <div class="stars-container">
    <fa-icon
      class="icon-star"
      *ngFor="let star of stars; let i = index"
      [icon]="['fas', 'star']"
      [ngClass]="{
        'text-warning': i < knowledgeLevel,
        'text-secondary': i >= knowledgeLevel
      }"
    ></fa-icon>
  </div>
  <div>
    <div class="icon-border">
      <fa-icon [icon]="icon" class="d-flex icon"></fa-icon>
    </div>
  </div>

  <div class="description">
    <p>
      <span class="title">{{ title }}</span>
    </p>
    <p>{{ description }}</p>
  </div>
</div>
