.card {
  min-width: 250px;
  min-height: 250px;
  max-height: 253.38px;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 26px !important;
}

.card:hover {
  transition: 0.5s;
  border: 1px solid var(--primary-color);
  cursor: pointer;

  .star {
    opacity: 1;
  }
}

.title {
  color: var(--text-color);
}

.text {
  color: var(--text-color-light);
}

.icons {
  width: 100%;
}

.stars {
  gap: 6px;
}

.star {
  transition: 0.5s;
  color: #f0c52c;
  opacity: 0;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: var(--primary-color-light);
}

.icon {
  color: var(--primary-color);
  font-size: 1.5em;
}

h3 {
  font-size: 18px;
  font-weight: 450;
  margin: 25px 0px 8px 0px !important;
}

p {
  font-size: 16px;
  line-height: 160%;
  margin: 8px 0px 10px 0px !important;
}

@media (max-width: 1200px) {
  .card {
    min-width: 400px;
  }
}

@media (max-width: 481px) {
  .card {
    min-width: 300px;
  }
}
