<div class="side-menu">
  <div class="space"></div>
  <div class="content-itens">
    <div class="item selected-item">
      <span class="material-symbols-rounded icon-menu"> home </span>
    </div>
    <div class="item">
      <span class="material-symbols-rounded icon-menu"> ar_on_you </span>
    </div>
    <div class="item">
      <span class="material-symbols-rounded icon-menu"> neurology </span>
    </div>
    <div class="item">
      <span class="material-symbols-rounded icon-menu"> school </span>
    </div>
    <div class="item">
      <span class="material-symbols-rounded icon-menu"> code_blocks </span>
    </div>
    <div class="parting-line"></div>
  </div>
  <div class="space"></div>
</div>
