<section
  class="d-flex align-items-center justify-content-center background-white"
  id="home"
>
  <div
    class="container container-about d-flex align-items-center justify-content-between"
  >
    <div class="text-area" data-aos="zoom-in-right">
      <p class="text-home tag">
        <fa-icon [icon]="faCircle" class="d-flex icon"></fa-icon>
        Olá, eu sou Gustavo!
      </p>
      <h1>
        Front-end Developer <br />
        e UI/UX Designer
      </h1>
      <h5 class="description-home">
        Crio interfaces funcionais com foco em usabilidade e performance. Design
        e front-end com propósito.
      </h5>
      <nav>
        <ul class="socials">
          <app-social-card
            [icon]="faLinkedin"
            link="https://www.linkedin.com/in/gustavo-henrique-885918199/"
          ></app-social-card>
          <app-social-card
            [icon]="faGithub"
            link="https://github.com/gustavo-henrique1"
          ></app-social-card>
          <app-social-card
            [icon]="faBehance"
            link="https://www.behance.net/gustavohenrique63"
          ></app-social-card>
          <app-social-card [icon]="faFigma"></app-social-card>
          <button class="button-cv" type="button" (click)="downloadCv()">
            <span class="text-cv">Currículo</span>
            <span class="material-symbols-rounded icon-mode icon-cv">
              download
            </span>
          </button>
        </ul>
      </nav>
    </div>
    <div
      class="image-area d-flex align-items-center justify-content-center"
      data-aos="zoom-in-left"
    >
      <div class="container-avatar">
        <!-- <app-avatar></app-avatar> -->
      </div>
    </div>
  </div>
</section>
