<section
  class="d-flex align-items-center justify-content-center background-gray section-project"
  id="portfolio"
>
  <div
    class="container container-technologies container-projects d-flex align-items-start flex-column"
  >
    <div class="text-area text-area-projects" data-aos="zoom-in-right">
      <div class="header-section">
        <div class="tag">
          <h6>PORTFÓLIO</h6>
        </div>
        <div class="line-and-title">
          <h2>Principais projetos</h2>
        </div>
        <h5>Meus trabalhos recentes</h5>
      </div>
      <div class="itens-project">
        <div
          class="text-project"
          *ngFor="let project of projects; let i = index"
          [class.selected-project]="selectedProject === project"
          (click)="selectProject(project)"
        >
          <span class="number-project">0{{ project.id }}</span>
          {{ project.name }}
        </div>
      </div>
    </div>
    <div
      class="image-area d-flex align-items-start justify-content-start image-area-project"
      data-aos="zoom-in-left"
    >
      <div class="card-project" (click)="openModal(selectedProject)">
        <div class="image-view"></div>
        <img [src]="selectedProject?.imageUrl" [alt]="selectedProject.name" />
      </div>
      <div class="card-project card-project-background"></div>

      <div class="data-project">
        <div class="order">
          <h2>0{{ selectedProject.id }}</h2>
          <p>/ 4</p>
        </div>
        <div class="progress">
          <div
            class="status-progress"
            [style.width.%]="selectedProject?.id * 25"
          ></div>
        </div>
      </div>
      <div class="buttons-select">
        <div class="button-select" (click)="previousProject()">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
        <div class="button-select" (click)="nextProject()">
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
    </div>

    <div class="card-area">
      <app-project-card
        *ngFor="let project of projects; let i = index"
        data-aos="fade-up"
        data-aos-easing="ease-in-back"
        [attr.data-aos-delay]="50 * (i + 1)"
        [project]="project"
        [handleClick]="openModal.bind(this)"
      ></app-project-card>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="projectModal"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
  *ngIf="selectedProject"
>
  <button type="button" data-bs-dismiss="modal">
    <span class="material-symbols-rounded"> close </span>
  </button>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container-modal">
        <div class="modal-body">
          <div class="header">
            <h3>{{ selectedProject.title }}</h3>

            <div
              class="d-flex align-items-center justify-content-between data-user"
            >
              <div class="d-flex description-area">
                <div
                  class="image-header"
                  [ngStyle]="{
                    'background-image': 'url(' + selectedProject.icon + ')'
                  }"
                ></div>
                <div class="dev-description">
                  <h5>Gustavo Henrique</h5>
                  <p>
                    <span class="material-symbols-outlined">
                      check_circle
                    </span>
                    Pronto para trabalhar
                    <span class="material-symbols-rounded rocket-icon">
                      rocket_launch
                    </span>
                  </p>
                </div>
              </div>
              <div class="description-buttons d-flex">
                <div class="icon-button" (click)="shareProject()">
                  <span class="material-symbols-outlined">
                    prompt_suggestion
                  </span>
                </div>
                <div class="button-view" (click)="goToLink()">Ver projeto</div>
              </div>
            </div>
          </div>

          <img
            [src]="selectedProject?.imageUrl"
            class="img-fluid"
            alt="Project Image"
          />

          <p class="description-project">
            {{ selectedProject.description }}
          </p>

          <div
            class="footer-modal d-flex align-items-center justify-content-between"
          >
            <div class="line"></div>
            <div
              class="circle-image"
              [ngStyle]="{
                'background-image': 'url(' + selectedProject.icon + ')'
              }"
            ></div>
            <div class="line"></div>
          </div>
          <div class="footer-information">
            <h5>Gustavo Henrique</h5>
            <p>
              We create digital solutions that rock
              <span class="material-symbols-rounded rocket-icon">
                rocket_launch
              </span>
            </p>
            <div class="button-view" (click)="goToLink()">Ver projeto</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
