<div class="card" (click)="handleClick(project)">
  <div class="about-project">
    <p class="title">
      {{ project.name }} <span>{{ project.subname }}</span>
    </p>
    <p class="description">{{ project.description }}</p>
    <div class="technologies">
      <div *ngFor="let icon of project.icons" class="icon-text">
        <fa-icon [icon]="icon.icon" class="icon-project"></fa-icon>
        <span>{{ icon.name }}</span>
      </div>
    </div>
  </div>
  <div>
    <img [src]="project.imageCard" class="image-project" style="width: 430px" />
  </div>
</div>
