<div class="card">
  <div
    class="image"
    [ngStyle]="{ 'background-image': 'url(' + project.imageUrl + ')' }"
    (click)="handleClick(project)"
  >
    <div class="image-view"></div>
  </div>
  <div class="text">
    <div class="about-project">
      <div
        class="icon-project"
        [style.backgroundImage]="'url(' + project.icon + ')'"
      ></div>
      <p>{{ project.name }}</p>
    </div>
    <div class="views">
      <div class="tag-project">{{ project.tag }}</div>
    </div>
  </div>
</div>
