.card {
  background: var(--background-white-color);
  width: 100% !important;
  box-sizing: border-box;
  padding: 40px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;

  .about-project {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p.title {
      font-size: 24px;
      font-weight: 600;
      margin: 0;

      span {
        color: var(--text-color);
      }
    }

    p.description {
      font-size: 14px;
      color: var(--text-color);
      margin: 0;
    }

    .technologies {
      display: flex;
      gap: 25px;

      .icon-prooject {
        font-size: 1.5rem;
        color: var(--icon-color);
      }
    }
  }

  .icon-text {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    span {
      font-size: 14px;
      display: inline-block;
      max-width: 0;
      opacity: 0;
      overflow: hidden;
      white-space: nowrap;
      transition: max-width 0.4s ease, opacity 0.4s ease;
      margin-left: 8px; /* espaçamento entre ícone e texto */
    }
  }

  .icon-text:hover span {
    max-width: 200px; /* largura máxima para mostrar o texto todo */
    opacity: 1;
  }
}

.card:hover {
  transition: 0.3s;
  cursor: pointer;
  background: var(--background-gray-color);
}

@media (max-width: 1200px) {
  .card {
    gap: 40px;
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .card {
    .image-project {
      width: 100%;
    }
  }
}
