$background-color: #ffffff;
$background-card: #f6f5f8;
$primary-color: #8079fb;
$primary-color-light: #7f79fb21;
$text-color: #0d0c22;
$subtext-color: #72727e;
$subtext-item-color: #9e9eaa;
$border-color: #e5e7eb;
$secondary-color: #faa7cc;
$gradient-color: #c53576;
$hover-color: #4e7eb6;
$button-bg-color: #0d0c22;

$background-color-dark: #171717;
$background-card-dark: #1e1e20;
$primary-color-light-dark: #7f79fb3a;
$text-color-dark: #ffffff;
$subtext-color-dark: #c4c4c4;
$border-color-dark: #4b5563;
$button-bg-color-dark: #6a6699;
