$background-color: #ffffff;
$background-footer-color: #f6f5f8;
$primary-color: #ff6aab;
$primary-color-light: #ff6aab1a;
$text-color: #1f2937;
$text-color-light: #6b7280;
$border-color: #e5e7eb;
$secondary-color: #faa7cc;
$hover-color: #4e7eb6;

$background-color-dark: #171717;
$background-footer-color-dark: #1e1e20;
$primary-color-light-dark: #ff6aab1a;
$text-color-dark: #ffffff;
$text-color-light-dark: #9ca3af;
$border-color-dark: #4b5563;
