@import "./variables.scss";
@import "aos/dist/aos.css";

body {
  --background-color: #{$background-color};
  --background-card: #{$background-card};
  --primary-color: #{$primary-color};
  --primary-color-light: #{$primary-color-light};
  --text-color: #{$text-color};
  --subtext-color: #{$subtext-color};
  --border-color: #{$border-color};
  --secondary-color: #{$secondary-color};
}

body.dark-mode {
  --background-color: #{$background-color-dark};
  --background-card: #{$background-card-dark};
  --primary-color: #{$primary-color};
  --primary-color-light: #{$primary-color-light-dark};
  --text-color: #{$text-color-dark};
  --subtext-color: #{$subtext-color-dark};
  --border-color: #{$border-color-dark};
  --secondary-color: #{$secondary-color};
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--border-color);
}
::-webkit-scrollbar-thumb {
  background-color: #{$primary-color};
  border-radius: 8px;
}

// -----------------------------------

section {
  width: 100%;
  min-height: 100vh !important;
  max-width: 100vw !important;
  padding: 120px 100px 0 100px !important;
  margin-top: -24px !important;
}

.container {
  min-width: 1140px;
  width: 60%;
  height: auto;
  padding: 0;
}

.text-area {
  width: 50%;
}

.image-area {
  width: 39%;
  height: 480px;
  position: relative;
}

.image-area img {
  width: 100%;
}

// big-text-home
h1 {
  font-size: 45px;
  font-weight: 900;
  color: var(--text-color);
  margin: 0 !important;
}

// title
h2 {
  font-size: 30px;
  color: var(--text-color);
  font-weight: 700;
  width: fit-content;
  margin: 0;
}

// text-home
h4 {
  box-sizing: border-box;
  color: var(--primary-color);
  font-size: 22px;
  font-style: italic;
  margin-bottom: 15px;
}

// sub-title
h5 {
  width: 100%;
  font-size: 18px;
  color: var(--subtext-color);
  line-height: 1.6rem;
  font-weight: 400;
  margin: 0;
}

// id-page
h6 {
  font-size: 14px;
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

// normal-text
p {
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.6rem;
  font-weight: 400;
}

.icon-title {
  color: var(--text-color);
}

.header-section {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 60px;
}
// ------------------------

// mediaframe

@media (max-width: 1200px) {
  section {
    box-sizing: border-box;
    padding: 100px 0 !important;
    height: auto;
    padding: 0 !important;
  }

  .container {
    min-width: 90%;
    margin-top: 140px !important;
  }

  .image-area {
    width: 50%;
    min-width: 400px;
    height: max-content;

    img {
      width: 300px;
    }
  }

  .text-area {
    width: 100%;
    text-align: left;
  }

  h4 {
    margin-top: 40px !important;
  }

  nav ul {
    align-items: flex-start;
  }

  .container-about {
    min-width: 90%;
    flex-direction: column;
    align-items: center;
    height: auto !important;
    gap: 100px;
  }

  .header-section {
    align-items: flex-start !important;
  }
}

@media (max-width: 988px) {
}

@media (max-width: 900px) {
  .container {
    align-items: flex-start !important;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  .image-area {
    width: 90%;
    min-width: 200px;
  }
}
