<div class="nav-menu fixed-top d-flex">
  <div
    class="container-menu background-white"
    [ngClass]="{
      'menu-shadow': isScrolled,
    }"
    id="containerMenu"
  >
    <div class="brand-icon">
      <a class="navbar-brand" href="#home">
        <img
          src="assets/images/logo-gustavo.png"
          alt=""
          style="width: 120px"
          *ngIf="!isDarkMode"
        />
        <img
          src="assets/images/logo-gustavo-dark.png"
          alt=""
          style="width: 120px"
          *ngIf="isDarkMode"
        />
      </a>
      <button
        type="button"
        (click)="toggleIconMenu()"
        class="btn-expand d-none"
      >
        <span class="material-symbols-rounded menu" id="menu-icon">menu</span>
        <span class="material-symbols-rounded icon d-none" id="close-icon"
          >close</span
        >
      </button>
    </div>
    <div class="list-menu">
      <ul class="d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tecnologies">Tecnologias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Experiência</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfólio</a>
        </li>
        <li
          class="nav-item nav-icon d-flex align-items-center justify-content-center"
        >
          <button class="button-mode" type="button" (click)="toggleDarkMode()">
            <span
              class="material-symbols-rounded d-flex align-items-center icon-mode"
              id="menu-icon-dark-mode"
            >
              {{ iconMenuDarkModeString }}
            </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
