.navbar {
  min-height: 100px;
  height: auto;
  box-sizing: border-box;
  background: var(--background-color);
  padding: 0 100px 0 100px !important;
  position: fixed !important;
  z-index: 1;
}

.container-menu {
  box-sizing: border-box;
  padding: 20px 0px;
  margin-top: 40px;
  transition: 0.6s ease-in-out;
  border: 1px solid transparent;
}

.menu-shadow {
  background: var(--background-card);
  border: 1px solid var(--border-color);
  padding: 20px 30px;
  border-radius: 10px;
}

.menu-background {
  background-color: transparent;
}

.navbar-brand {
  font-size: 22px;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  color: var(--title-color);
  cursor: pointer;
}

.icon {
  font-size: 24px;
  color: var(--title-color);
}

.button-mode {
  display: flex;
  justify-content: flex-end;
  border: none;
  outline: none;
  color: var(--secondary-color);
  background: transparent;
  cursor: auto;
}

.icon-mode {
  font-size: 24px;
  cursor: pointer;
  color: var(--primary-color);
  transition: 0s !important;
}

.logo {
  width: 130px !important;
}

.container {
  min-width: 1140px;
  width: 60%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-link {
  font-size: 16px;
  color: var(--text-color);
}

.nav-link:hover {
  transition: 0.3s;
  color: var(--primary-color);
}

.nav-link.active {
  transition-delay: 0.2s;
  color: var(--primary-color);
}

.logo {
  width: 60px;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler-icon img {
  width: 30px;
  transition: transform 0.3s ease;
}

.d-none {
  display: none;
}

@media (max-width: 1200px) {
  .navbar {
    padding: 35px 0 35px 0 !important;
    background: transparent;
  }

  .container-menu {
    min-width: 90%;
    margin-top: 0 !important;
  }
}

@media (max-width: 988px) {
  .navbar {
    padding-top: 100px;
  }

  .navbar-nav {
    margin-top: 40px !important;
    flex-direction: column;
    align-items: flex-start !important;
  }

  .nav-icon {
    justify-content: flex-start !important;
  }
}

.button-mode:hover {
  .icon-mode {
    transition: 0.5s;
    color: var(--primary-color);
    -webkit-animation: balance 0.3s alternate infinite ease-in-out;
    animation: balance 0.3s alternate infinite ease-in-out;
  }
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes balance {
  from {
    transform: rotate(8deg);
  }
  to {
    transform: rotate(-8deg);
  }
}
