.nav-menu {
  height: 120px;
  box-sizing: border-box;
  background: var(--background-color);
  padding: 0 100px 0 100px;
  position: fixed;
  z-index: 1;
  align-items: flex-end;
  justify-content: center;
}

.container-menu {
  min-width: 1140px;
  width: 60%;
  height: 77px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.6s ease-in-out;
}

.menu-shadow {
  background: var(--background-card);
  border: 1px solid var(--border-color);
  padding: 20px 30px;
  border-radius: 10px;
}

.navbar-brand {
  font-size: 22px;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

.icon {
  font-size: 24px;
  color: var(--text-color);
}

.button-mode {
  display: flex;
  justify-content: flex-end;
  border: none;
  outline: none;
  color: var(--secondary-color);
  background: transparent;
  cursor: auto;
}

.icon-mode {
  font-size: 24px;
  cursor: pointer;
  color: var(--primary-color);
  transition: 0s !important;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

ul {
  list-style-type: none;
  gap: 30px;
  margin: 0;
}

.nav-link {
  font-size: 16px;
  color: var(--text-color);
}

.nav-link:hover {
  transition: 0.3s;
  color: var(--primary-color);
}

.nav-link.active {
  transition-delay: 0.2s;
  color: var(--primary-color);
}

.btn-expand {
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;

  span {
    font-size: 24px !important;
  }
}

@media (max-width: 1200px) {
  .nav-menu {
    padding: 0 5%;
    min-height: 120px;
    height: auto;
  }

  .container-menu {
    width: 100%;
    height: 75px !important;
    overflow: hidden !important;
    min-width: unset;
    flex-direction: column;
    height: auto;
    margin-top: 43px;
    transition: 0.5s ease-in-out;
  }

  .brand-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .list-menu {
    width: 100%;
    margin-top: 40px;

    ul {
      padding: 0 !important;
      flex-direction: column !important;
      display: flex;
      align-items: flex-start !important;
    }
  }

  .btn-expand {
    display: unset !important;
    color: var(--text-color);
  }
}

.expand {
  height: 410px !important;
}
