.skills-section {
  padding: 2rem;
  background-color: var(--background-gray-color);
  border-radius: 10px;
  height: auto;
  padding: 40px 40px 40px 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills-floating-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  position: relative;
  justify-content: space-around;
}

.floating-skill {
  height: 42px;
  padding: 0.7rem 1.4rem;
  border-radius: 10px;
  background: var(--background-white-color);
  color: var(--title-color);
  font-weight: 500;
  font-size: 0.775rem;
  position: relative;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-delay: 0ms;
  border: 1px solid var(--border-color);
}

.floating-skill:nth-child(1) {
  margin-top: 30px;
  animation-delay: 0s;
  animation-name: floatSkill;
}

.floating-skill:nth-child(2) {
  margin-top: 60px;
  animation-delay: 0.1s;
  animation-name: floatSkill;
}

.floating-skill:nth-child(3) {
  margin-top: 10px;
  animation-delay: 0.36s;
  animation-name: floatSkill;
}

.floating-skill:nth-child(4) {
  margin-top: 0px;
  animation-delay: 1.69s;
  animation-name: floatSkill;
}

.floating-skill:nth-child(5) {
  margin-top: 30px;
  animation-delay: 1.92s;
  animation-name: floatSkill;
}

.floating-skill:nth-child(6) {
  margin-top: 10px;
  animation-delay: 1.5s;
  animation-name: floatSkill;
}

.floating-skill:nth-child(7) {
  margin-top: 0px;
  animation-delay: 3.38s;
  animation-name: floatSkill;
}

.floating-skill:nth-child(8) {
  margin-top: 40px;
  animation-delay: 2.21s;
  animation-name: floatSkill;
}

.floating-skill:nth-child(9) {
  margin-top: 20px;
  animation-delay: 1.4s;
  animation-name: floatSkill;
}

/* Animation */

@keyframes floatSkill {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(0px, 0px); /* parado até 40% do tempo */
  }
  55% {
    transform: translate(18px, -12px);
  }
  70% {
    transform: translate(22px, 14px);
  }
  85% {
    transform: translate(16px, -10px);
  }
  100% {
    transform: translate(0px, 0px); /* volta e para */
  }
}
